[submodule "deps/yolov5"]
	path = deps/yolov5
	url = https://ghfast.top/https://github.com/6ixGODD/yolov5.git
	branch = cracks-yolo
[submodule "deps/ultralytics"]
	path = deps/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "deps/yolov7"]
	path = deps/yolov7
	url = https://github.com/WongKinYiu/yolov7.git
[submodule "deps/yolov9"]
	path = deps/yolov9
	url = https://github.com/WongKinYiu/yolov9.git
[submodule "deps/detr"]
	path = deps/detr
	url = https://github.com/facebookresearch/detr.git
